body{
    margin:0;
    padding:0;
    background:url("BG3.png") center;
    background-size:cover;
}
.header h1{
    padding-bottom:10px;
    margin:0;
    font-weight:bold;
    font-size:3rem;
    color:#fff;
    text-align: center;
    font-family: sans-serif;
}
.header h2{
    padding-bottom: 200px;
    margin:0;
    font-weight:bold;
    font-size:3rem;
    color:#fff;
    text-align: center;
    font-family: sans-serif;
}
header .title{
    padding-top: 200px;
}

header ul li{
    list-style-type:none;
    font-family: sans-serif;
}

header ul{
    display:flex;
    align-content: center;
    justify-content:center;

}

header ul li a {
    text-transform:uppercase;
    font-weight:bold;
    color:#ccc;
    font-size: 1rem;
    text-decoration: none;
    padding:10px;
    letter-spacing:3px;
    font-family: sans-serif;
    background-color: darkcyan;
}

header ul li a:hover{
    color:brown;
    font-family: sans-serif;
    font-weight:bold;
}

time{
    display:block;
    font-size: 3rem;
    font-weight:bold;
    margin-bottom: 10px;
    
}
.timeline p{

    text-size-adjust: 50px;
}
.timeline ul{
    list-style-type:none;
    padding: 50px 0;
}
.timeline ul li{
    position:relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 150px;
    background:rgb(255, 0, 0);
}
.timeline ul li div{
    position:relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background:#ffffff;
    border-radius:10px ;
}
.timeline ul li:nth-child(odd) div{

    left: 45px;
    transform: translate3d( 200px, 0 ,0)
}
.timeline ul li:nth-child(even) div{

    right: 470px;
    transform: translate3d(-200px, 0 ,0)
    
}

.timeline ul li div{
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out
}


.timeline ul li.in-view div{
    transform: none;
    visibility: visible;
    opacity:1;
}
